    <div class="container">
    <div class="row">

        <div class="col-md-2">
            <ul>
                <li>
                    <h2>Страны</h2>
                </li>

                <li><a href="argentina.html">Аргентина</a></li>
                <li><a href="britany.html">Великобритания</a></li>
                <li><a href="bulgaria.html">Болгария</a></li>
                <li><a href="canada.html">Канада</a></li>
                <li><a href="denmark.html">Дания</a></li>
                <li><a href="egypt2.html">Египет</a></li>
                <li><a href="france.html">Франция</a></li>
                <li><a href="germany.html">Германия</a></li>
                <li><a href="greece.html">Греция</a></li>
                <li><a href="italy.html">Италия</a></li>
                <li><a href="japan.html">Япония</a></li>
                <li><a href="norway.html">Норвегия</a></li>
                <li><a href="usa.html">США</a></li>
            </ul>
        </div>


        <div class="col-md-8">
            <main>
                <section id="firstBlock">
                    <h4>Новость 1</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam magni facilis ea! Ex voluptates asperiores ratione sequi quidem architecto doloremque magni numquam quibusdam repellendus perspiciatis, labore nihil tempora voluptas consequatur.
                    </p>
                </section>
                <section>
                    <h4>Новость 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque impedit possimus quis ea! Expedita quae numquam non aspernatur earum dolorem officia rerum at consequatur repellendus, modi nihil sunt velit beatae.</p>
                </section>
                <section>
                    <h4>Новость 3</h4>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem consectetur similique fuga ex praesentium necessitatibus, pariatur magni? Neque officiis porro earum nulla vitae quia magni est sit, minima harum dolores!
                    </p>
                </section>
                <section>
                    <h4>Новость 4</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fugiat nesciunt incidunt tempore, cumque ab beatae et vero eius quia neque nisi vel harum maxime illo nihil cum, veritatis eos.</p>
                </section>
                <section>
                    <h4>Новость 5</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem accusantium expedita reprehenderit. Ipsam dolores, suscipit vitae reiciendis, quod numquam facilis eligendi expedita a voluptatum error dolorum iusto excepturi aperiam
                        hic?
                    </p>
                </section>
            </main>
        </div>

        <div class="col-md-2">
            <section style="color: blanchedalmond;">
                <iframe width="200" height="240" frameborder="0" scrolling="no" src="https://pogodnik.com/informer/daily"> Посмотреть прогноз погоды на <a href="https://pogodnik.com"> <img src="https://pogodnik.com/images/prognoz-pogody-200x240.png"> </a> </iframe>
            </section>
            <div id="news">
                <a href="https://ua-news.liga.net/">
                    <img class="liga" src="images/usa/Liga_net.png" alt="Новости Лига">
                </a>
            </div>
        </div>
    </div>
</div>
