.flag {
    border: 1px solid black;
}

.capital {
    display: none;
}

.name {
    text-align: center;
    font-size: x-large;
}

header {
    text-align: center;
    position: fixed;
    background-image: url(../images/main/trip.jpg);
    background-size: auto 270px;
    z-index: 1000;
    width: 100%;
}

nav {
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

nav a {
    font-size: 20pt;
    color: rgb(255, 16, 16);
}

#infoContactBooking {
    padding-top: 20px 0;
}

#infoContactBooking a {
    margin-top: 10px;
    padding: 20px 40px;
}

body {
    display: inline-block;
    overflow-x: hidden;
}

.bookingTour {
    display: inline-block;
    padding-top: 300px;
    width: 70%;
}

#firstBlock {
    padding-top: 300px;
}

section {
    display: inline-block;
    padding-left: 20px;
    width: 70%;
    text-align: left;
}

.contact {
    display: block;
    float: left;
    margin-top: 280px;
}

#countryInfo {
    display: inline;
    margin-top: 280px;
    float: left;
}

.countryBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px;
}

aside {
    display: block;
    float: right;
    margin-right: 0;
}

.weather {
    display: block;
    float: left;
}

#news {
    display: block;
    text-align: start;
}

.liga {
    box-shadow: none;
    height: 150px;
    width: 300px;
}

ul {
    list-style-type: none;
    margin-top: 40px 0;
}

li {
    font-size: 14pt;
    list-style-type: none;
    padding: 10px 0;
}

p {
    padding-bottom: 10px;
    text-indent: 20px;
    text-align: justify;
}

.source img {
    box-shadow: 10px 10px 7px #000;
    size: 70px 50px;
}

#manufacture {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #fff;
    color: rgb(12, 10, 12);
    width: 100%;
    margin-top: 20px;
}