<div class="container">
<div class="row">

        <div class="col-md-2">
            <ul>
                <li>
                    <h2>Страны</h2>
                </li>

                <li><a href="argentina.html">Аргентина</a></li>
                <li><a href="britany.html">Великобритания</a></li>
                <li><a href="bulgaria.html">Болгария</a></li>
                <li><a href="canada.html">Канада</a></li>
                <li><a href="denmark.html">Дания</a></li>
                <li><a href="egypt2.html">Египет</a></li>
                <li><a href="france.html">Франция</a></li>
                <li><a href="germany.html">Германия</a></li>
                <li><a href="greece.html">Греция</a></li>
                <li><a href="italy.html">Италия</a></li>
                <li><a href="japan.html">Япония</a></li>
                <li><a href="norway.html">Норвегия</a></li>
                <li><a href="usa.html">США</a></li>
            </ul>
        </div>
        <div class="col-md-8">

            <div class="col-md-4">
                <span>
                            <h3>Аргентина</h3>
                            <h4>Буенос-Айрес</h4>
                            <figure>
                                <a href="argentina.html"><img src="images/countries/flag_of_Argentina.jpg" title="Флаг Аргентины " alt="Флаг Аргентины" height="100px" width="200px"></a>
                            </figure>
                        </span>
                <span>
                            <h3>Великобритания</h3>
                            <h4>Лондон</h4>
                            <figure>
                                <a href="britany.html"><img src="images/countries/flag_of_Great_Britain.png" title="Флаг Великобритании " alt="Флаг Великобритании" height="100px" width="200px"></a>
                            </figure>
                        </span>
                <span>
                            <h3>Болгария</h3>
                            <h4>София</h4>
                            <figure>
                                <a href="bulgaria.html"><img src="images/countries/flag_of_Bulgaria.jpg" title="Флаг Болгарии " alt="Флаг Болгарии" height="100px" width="200px"></a>
                            </figure>
                        </span>
            </div>


            <div class="col-md-4">
                <span>
                                <h3>Канада</h3>
                                <h4>Оттава</h4>
                                <figure>
                                    <a href="canada.html"><img src="images/countries/flag_of_Canada.png" title="Флаг Канады " alt="Флаг Канады" height="100px" width="200px"></a>
                                </figure>
                            </span>
                <span>
                                <h3>Дания</h3>
                                <h4>Копенгаген</h4>
                                <figure>
                                    <a href="denmark.html"><img src="images/countries/flag_of_Denmark.svg.png" title="Флаг Германии" alt="Флаг Германии" height="100px" width="200px"></a>
                                </figure>
                            </span>
                <span>
                                <h3>Египет</h3>
                                <h4>Каир</h4>
                                <figure>
                                    <a href="egypt2.html"><img src="images/countries/flag_of_Egypt.jpg" title="Флаг Египта " alt="Флаг Египта" height="100px" width="200px"></a>
                                </figure>
                            </span>
            </div>


            <div class="col-md-4">
                <span>
                            <h3>Франция</h3>
                            <h4>Париж</h4>
                            <figure>
                                <a href="france.html"><img src="images/countries/flag_of-France.jpg" title="Флаг Франции " alt="Флаг Франции" height="100px" width="200px"></a>
                            </figure>
                        </span>
                <span>
                            <h3>Германия</h3>
                            <h4>Берлин</h4>
                            <figure>
                                <a href="germany.html"><img src="images/countries/flag_of_Germany.jpg" title="Флаг Германии " alt="Флаг Германии" height="100px" width="200px"></a>
                            </figure>
                        </span>
                <span>
                            <h3>Греция</h3>
                            <h4>Афины</h4>
                            <figure>
                                <a href="greece.html"><img src="images/countries/flag_of_Greece.png" title="Флаг Греции " alt="Флаг Греции" height="100px" width="200px"></a>
                            </figure>
                        </span>
            </div>

            <div class="col-md-4">

                <span>
                        <h3>Италия</h3>
                        <h4>Рим</h4>
                        <figure>
                            <a href="italy.html"><img src="images/countries/flag_of_Italy.png" title="Флаг Италии" alt="Флаг Италии" height="100px" width="200px"></a>
                        </figure>
                    </span>
                <span>
                        <h3>Япония</h3>
                        <h4>Токио</h4>
                        <figure>
                            <a href="japan.html"><img src="images/countries/flag_of_Japan.png" title="Флаг Японии " alt="Флаг Японии" height="100px" width="200px"></a>
                        </figure>
                    </span>
            </div>
            <div class="col-md-4">
                <span>
                        <h3>Норвегия</h3>
                        <h4>Осло</h4>
                        <figure>
                            <a href="norway.html"><img src="images/countries/flag_of_Norway.jpg" title="Флаг Норвегии " alt="Флаг Норвегии" height="100px" width="200px"></a>
                        </figure>
                    </span>
                <span>
                        <h3>США</h3>
                        <h4>Вашингтон</h4>
                        <figure>
                            <a href="usa.html"><img src="images/countries/Flag_of_USA.svg.png" title="Флаг США" alt="Флаг США" height="100px" width="200px"></a>
                        </figure>
                        </span>
            </div>

        </div>

        <div class="col-md-2">
            <section style="color: blanchedalmond;">
                <iframe width="200" height="240" frameborder="0" scrolling="no" src="https://pogodnik.com/informer/daily"> Посмотреть прогноз погоды на <a href="https://pogodnik.com"> <img src="https://pogodnik.com/images/prognoz-pogody-200x240.png"> </a> </iframe>
            </section>
            <div id="news">
                <a href="https://ua-news.liga.net/">
                    <img class="liga" src="images/usa/Liga_net.png" alt="Новости Лига">
                </a>
            </div>
        </div>
    </div>
    </div>